@font-face {
    font-family: digit;
    src: url("digital-7_mono.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    overflow: auto
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}

.text {
    font-size: 24px;
    text-indent: 50px;
}